# Testing stuff
mongodb-test
run*.log

# Builds
hx-monitor
hx-monitor-api

# Other
.env
**/*utput*.json
libwhisper.a
whisper.h
whisper.cpp
recordings
models_whisper/

# Frontend
frontend/build
frontend/files
node_modules/
shv*.json

# Whisper models
*.bin
*.en*
