:root {
  --warning-color: rgb(255, 200, 0);
  --warning-color-light: rgb(250, 242, 212);
  --error-color: rgb(255, 0, 0);
  --error-color-light: rgb(255, 236, 236);
  --info-color: rgb(0, 119, 255);
  --info-color-light: rgb(236, 245, 255);

  text-align: center;
}

/* --- Text --- */
.time-string {
  font-weight: bold;
  color: black;
}

.error-string {
  font-weight: bold;
  color: rgb(184, 0, 0);
}

/* --- Headers --- */
h3 {
  font-weight: normal;
}
h4 {
  font-weight: normal;
}

/* --- Flight operating hours text --- */
.flight-ops-status-text {
  font-weight: bold;
}
.flight-ops-status-text.within {
  color: orange;
}
.flight-ops-status-text.outside {
  color: darkgreen;
}

/* --- Spinner --- */
.clock-spinner {
  display: inline-block;
  animation: clock-change 1s steps(12) infinite;
}

.clock-spinner::after {
  content: "🕒";
  animation: clock-change 1s steps(12) infinite;
}

@keyframes clock-change {
  0% { content: "🕒"; }
  8.33% { content: "🕓"; }
  16.66% { content: "🕔"; }
  25% { content: "🕕"; }
  33.33% { content: "🕖"; }
  41.66% { content: "🕗"; }
  50% { content: "🕘"; }
  58.33% { content: "🕙"; }
  66.66% { content: "🕚"; }
  75% { content: "🕛"; }
  83.33% { content: "🕐"; }
  91.66% { content: "🕑"; }
  100% { content: "🕒"; }
}

/* --- Other --- */
hr {
  margin-top: 15px;
  margin-bottom: 15px;
}